VITE_SUPABASE_URL=https://oyxcwfozoxlgdclchden.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im95eGN3Zm96b3hsZ2RjbGNoZGVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzMDM4NTMsImV4cCI6MjA4ODg3OTg1M30.TnfqAJ9vo6fAXnR1v5PfgWbjOQsrl4ijxBFYfUMEb2Q
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_qVzc6FJs5mupRPkysigyyg_kc14s06o